/* search_input */
.inputla{
    width:100%;
    height:50px;
    background:linear-gradient(to right, #56B3A9,#003E50);
    border:none;   
    text-align: right;
    color: #fff;
    font-size: 18px;
    z-index: 5;
    font-family: 'lale';
  }
  ::placeholder {
    color: #fff;
    font-size: 18px;
  }
  
  /* search Modal */
  .ModalHead{
    font-family: 'estedadM';
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #004458;
    color: #004458;
    border-radius: 5px;
    /* margin-top: 20px; */
  }
  .NotFound{
    font-family: 'estedadL';
    font-size: 18px;
    text-align: center;
    color: #666;
    margin: 50px auto;
  }